langchain>=0.0.267
langchain-core>=0.0.10
diffusers>=0.19.3
transformers>=4.30.2
accelerate>=0.21.0
safetensors>=0.3.1
torch>=2.0.1
torchvision>=0.15.2
pillow>=9.5.0
numpy>=1.24.3
pydantic>=2.0.3
fastapi>=0.100.0
uvicorn>=0.23.1
python-multipart>=0.0.6
requests>=2.31.0
python-dotenv>=1.0.0
moviepy==1.0.3
opencv-python>=4.8.0.74
einops>=0.6.1
omegaconf>=2.3.0
runpod>=1.7.7,<1.8
